@tailwind base;
@tailwind components;
@tailwind utilities;

.text-shadow-no1 {
    text-shadow: 1px 1px 0 #4a90e2, -1px 1px 0 #4a90e2, -1px 1px 0 #4a90e2,
        -1px 1px 0 #4a90e2;
}
.text-shadow-no2 {
    text-shadow: 1px 1px 0 #50e3c2, -1px 1px 0 #50e3c2, -1px 1px 0 #50e3c2,
        -1px 1px 0 #50e3c2;
}
.text-shadow-no3 {
    text-shadow: 1px 1px 0 #e35050, -1px 1px 0 #e35050, -1px 1px 0 #e35050,
        -1px 1px 0 #e35050;
}
.text-shadow-last {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5), -1px 1px 0 rgba(0, 0, 0, 0.5),
        -1px 1px 0 rgba(0, 0, 0, 0.5), -1px 1px 0 rgba(0, 0, 0, 0.5);
}

.slick-next:before {
    font-size: 38px !important;
}
.slick-prev:before {
    font-size: 38px !important;
}
.slick-next {
    right: 25px !important;
    opacity: 7;
}
.slick-prev {
    left: 10px !important;
    opacity: 0.7;
    z-index: 10;
}
.slick-arrow {
    top: 80px !important;
}
